.htaccess
robots.txt
googleb*.html
y_key_*.html
feed_fetch_test.html
ga_tracking.js
get_the_archives.php
crossdomain.xml
sitemap.xml
sitemap.xml.gz
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/videopop/
wp-content/plugins/feedlogger/data/*
readme.html
readme-ja.html
license.txt
/error/
/images/
/slickspeed/
/lightpop_sample/
/niigm4/
/shortcoder/
/wbfukui_3/
/wckobe2011/
/wctokyo2011/
/wcyokohama/
.svn/
*.bak
*.log
*.tmp
