@charset UTF-8;
html{background:#f7f7f7;}
body{color:#333;font-family:Lucida Grande,Tahoma,Verdana,Arial,"ヒラギノ角ゴ Pro W3",メイリオ,"ＭＳ Ｐゴシック",IPAPGothic,sans-serif;width:85%;-moz-border-radius:11px;-khtml-border-radius:11px;-webkit-border-radius:11px;border-radius:11px;border:1px solid #dfdfdf;margin:2em auto;padding:1em 2em;background:#fff;}
a{color:#2583ad;text-decoration:none;}
a:hover{color:#d54e21;}
h1,h2,h3,h4,h5,h6{border-top:1px solid #dadada;color:#555;clear:both;margin:1em 0;padding:0;}
h1{border:none;font-size:1.5em;padding:0 0 7px;}
h2{font-size:1.2em;}
h3{font-size:1.1em;}
h4{font-size:1em;}
code{font-size:.9em;white-space:normal;display:block;margin:0 0 .5em 2em;}
ul,ol{padding:5px 5px 5px 22px;}
p,li{padding-bottom:.25em;font-size:.9em;clear:both;line-height:1.2em;}
img{border:none;}
#logo{border-bottom:none;margin:6px 0 14px;}
#content{margin:1em;}
.step{text-align:left;margin:20px 0 15px;padding:0;}
th{text-align:left;padding:0;}
.button,.submit input{font-family:"Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;text-decoration:none;font-size:14px!important;line-height:16px;cursor:pointer;border:1px solid #bbb;color:#464646;-moz-border-radius:15px;-khtml-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-khtml-box-sizing:content-box;box-sizing:content-box;padding:6px 12px;background:url(http://static.dogmap.jp/images/white-grad.png) repeat-x left top #f2f2f2;}
.button-secondary{font-family:"Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;text-decoration:none;font-size:14px!important;line-height:16px;cursor:pointer;border:1px solid #bbb;color:#464646;-moz-border-radius:15px;-khtml-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-khtml-box-sizing:content-box;box-sizing:content-box;padding:6px 12px;background:url(http://static.dogmap.jp/images/white-grad.png) repeat-x left top #f2f2f2;}
.button:hover,.button-secondary:hover,.submit input:hover{color:#000;border-color:#666;}
.button:active,.submit input:active,.button-secondary:active{background:url(http://static.dogmap.jp/images/white-grad-active.png) repeat-x left top #eee;}
#submit{border:1px solid #939793;font-family:Lucida Grande,Verdana,Arial,Sans-Serif;font-size:.9em;margin:3px 2px 2px;padding:8px;background:url(http://static.dogmap.jp/images/icons/fade-butt.png) repeat-x 0 #FFF;}
.form-table{border-collapse:collapse;margin-top:1em;width:100%;}
.form-table td{margin-bottom:9px;border-bottom:8px solid #fff;font-size:12px;padding:10px;}
.form-table th{font-size:13px;text-align:left;border-bottom:8px solid #fff;width:110px;vertical-align:top;padding:16px 10px 10px;}
.form-table tr{background:#f3f3f3;}
.form-table code{line-height:18px;font-size:18px;}
.form-table p{font-size:11px;margin:4px 0 0;}
.form-table input{line-height:20px;font-size:15px;padding:2px;}
#error-page{margin-top:50px;}
#error-page p{font-size:12px;line-height:18px;margin:25px 0 20px;}
#error-page code{font-family:Consolas, Monaco, Courier, monospace;}
.content p{padding-bottom:0;}
.content label{display:block;float:left;width:180px;margin-left:10px;}
